/*------------------------------------Gallery ------------------------------------------------*/
.background_color_gallery {
  background-color: #171f25;
}

.barra-filtro {
  background-color: #8c8e8f;
  margin-top: -8px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.texto-filtro {
  padding-top: 1rem;
  color: white;
  padding-left: 3rem;
}

.div-botones {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}

@media (max-width: 580px) {
  .div-botones {
    flex-direction: column;
    justify-content: space-around;
  }
  .texto-filtro {
    padding: 0;
    padding-top: 1rem;
    text-align: center;
  }
}
.cerrado {
  display: none;
}

.abierto {
  display: block;
}

.menu-desplegable-carrito {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 3rem;
  z-index: 1;
  width: 320px;
  height: 100vh;
}

.boton-filtro {
  flex-direction: row;
  margin: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  background-color: #752e2b;
}
.boton-filtro:hover {
  transition: 0.7s;
  transform: scale(120%);
}
.boton-filtro boton-filtro::after {
  right: -20px;
}

.boton-carrito {
  flex-direction: row;
  margin: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  background-color: #5c636a;
  color: white;
}
.boton-carrito:hover {
  transition: 0.7s;
  background-color: #5c636a;
  color: white;
}

.css_titulo_nuestrosprod {
  padding: 2rem;
  text-align: center;
  background-color: #171f25;
  color: white;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.separador-tarjeta {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background: #752e2b;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #752e2b;
  max-width: 80%;
}

.card .card-border-top {
  height: 1rem;
  background: #752e2b;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border-color: #090f13;
  margin-top: 30px;
  background: #171f25;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card button:hover {
  background: #f2eab7;
  color: black;
}

@media (max-width: 768px) {
  .contenedor-productos {
    grid-template-columns: 1fr;
  }
}
.barra-volver-a-tienda {
  background-color: #090f13;
  height: 5rem;
}

.volver-tienda {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.bi-box-arrow-left {
  margin-right: 2rem;
}

.link-volver-a-tienda {
  text-decoration: none;
}

.h2-carrito {
  margin-left: 3rem;
}

.contenedor-carrito {
  background-color: #752e2b;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-items: center;
  border-radius: 1rem;
  margin-bottom: -1rem;
  min-height: 50vh;
}

@media (max-width: 1400px) {
  .contenedor-carrito {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .contenedor-carrito {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .contenedor-carrito {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .contenedor-carrito {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .contenedor-carrito {
    grid-template-columns: 1fr;
  }
}
.sin-art-en-carrito {
  background-color: aliceblue;
  width: 82vw;
  text-align: justify;
  height: 50vh;
  margin: 5rem;
}

.displaynone {
  display: none;
}

.articulo-en-carrito {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f2eab7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  width: 10rem;
  max-height: 17rem;
}

.img-art-en-carrito {
  width: 10rem;
  border-radius: 1rem;
}

.boton-elim-art-carrito {
  border: 0;
  background-color: transparent;
  color: #5c636a;
}

.div-boton-comprar {
  background-color: #752e2b;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (max-width: 768px) {
  .div-boton-comprar {
    flex-direction: column;
  }
}
.boton-comprar {
  border: 0;
  background-color: #171f25;
  color: white;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
}
.boton-comprar:hover {
  transition: 0.4s;
  background-color: #5c636a;
  color: white;
}

.h3-total {
  border: 0;
  border-radius: 1rem;
  background-color: #171f25;
  color: white;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
  padding-top: 1rem;
  text-align: center;
}

@media (max-width: 400px) {
  .div-boton-comprar {
    justify-content: center;
  }
}
/* -----------------------------General Resets--------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 0px;
}

ol, ul {
  padding-left: 0rem;
}

.disp-flex {
  display: flex;
}

/*-------------------------------------Navbar-------------------------------------------*/
.navbar {
  --bs-navbar-padding-y: 0rem;
}

.currentpage {
  color: #c90a02;
}

.nav_style_css {
  background-color: #752e2b;
  font-size: 1.3rem;
}

.navbar_brand-size {
  width: 50px;
}

.white {
  color: white;
}

.navbar_title-size {
  font-size: 1.7rem;
  margin-bottom: 0;
}

@media (max-width: 990px) {
  .navbar_title-size {
    font-size: 1.2rem;
  }
  .nav_style_css {
    font-size: 1rem;
  }
}
@media (min-width: 990px) {
  .navbar_title-size {
    font-size: 1.2em;
  }
  .nav_style_css {
    font-size: 0.9rem;
  }
}
@media (min-width: 1100px) {
  .nav_style_css {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .nav_style_css {
    font-size: 1.3rem;
  }
}
@media (min-width: 1600px) {
  .nav_style_css {
    font-size: 2rem;
  }
}
/*-----------------------------------------INDEX -----------------------------------------*/
.background_color_index {
  background-color: #171f25;
}

.separador_main {
  background-color: white;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 5vh;
  margin-bottom: 7vh;
  border-radius: 1rem;
  padding: 2rem;
}

/*----------------------FOOTER----------------------*/
.footer_text {
  text-align: center;
  color: white;
}

.bg-black {
  background-color: #090f13;
}

/*---------------------------------------------sitemap----------------------------------------------*/

/*# sourceMappingURL=style.css.map */
