/*------------------------------------Gallery ------------------------------------------------*/
.background_color_gallery {
  background-color: #171f25;
}

.css_titulo_nuestrosprod {
  padding: 2rem;
  text-align: center;
  background-color: #171f25;
  color: white;
  margin-bottom: 1rem;
}

.ordenTarjetas {
  display: flex;
  justify-content: space-around;
}

.separador-tarjeta {
  margin: 1rem;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 30.33333333%;
  }
}
@media (min-width: 768px) {
  .ordenTarjetas {
    display: flex;
    flex-wrap: nowrap;
  }
}
.card {
  background: #752e2b;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #752e2b;
  max-width: 80%;
}

.card .card-border-top {
  height: 1rem;
  background: #752e2b;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border-color: #090f13;
  margin-top: 30px;
  background: #171f25;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card button:hover {
  background: #f2eab7;
  color: black;
}

/* -----------------------------General Resets--------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 0px;
}

ol, ul {
  padding-left: 0rem;
}

.disp-flex {
  display: flex;
}

/*-------------------------------------Navbar-------------------------------------------*/
.navbar {
  --bs-navbar-padding-y: 0rem;
}

.currentpage {
  color: #c90a02;
}

.nav_style_css {
  background-color: #752e2b;
  font-size: 1.3rem;
}

.navbar_brand-size {
  width: 50px;
}

.white {
  color: white;
}

.navbar_title-size {
  font-size: 1.7rem;
  margin-bottom: 0;
}

@media (max-width: 990px) {
  .navbar_title-size {
    font-size: 1.2rem;
  }
  .nav_style_css {
    font-size: 1rem;
  }
}
@media (min-width: 990px) {
  .navbar_title-size {
    font-size: 1.2em;
  }
  .nav_style_css {
    font-size: 0.9rem;
  }
}
@media (min-width: 1100px) {
  .nav_style_css {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .nav_style_css {
    font-size: 1.3rem;
  }
}
@media (min-width: 1600px) {
  .nav_style_css {
    font-size: 2rem;
  }
}
/*-----------------------------------------INDEX -----------------------------------------*/
.background_color_index {
  background-color: #171f25;
}

.separador_main {
  background-color: white;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 5vh;
  margin-bottom: 7vh;
  border-radius: 1rem;
  padding: 2rem;
}

/*----------------------FOOTER----------------------*/
.footer_text {
  text-align: center;
  color: white;
}

.bg-black {
  background-color: #090f13;
}

/*---------------------------------------------sitemap----------------------------------------------*/

/*# sourceMappingURL=style.css.map */
