@use './partials/colors';
@use './partials/gallery';
@use './partials/mostSelled';
@use './partials/myFavorites';
@use './partials/whoIAm';

/* -----------------------------General Resets--------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-bottom: 0px;
}
ol, ul {
    padding-left: 0rem;
}

/*-------------------------------------Navbar-------------------------------------------*/
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.currentpage{
    color: colors.$color_red;
}
.nav_style_css{
    background-color:colors.$color_deep_brick;
    font-size: 1.3rem;
}
.navbar_brand-size{
    width: 50px;
}
.white{
    color: colors.$color_white;
}
.navbar_title-size{
    font-size: 1.7rem;
    margin-bottom: 0;
}
@media(max-width:990px){
    .navbar_title-size{
        font-size: 1.2rem;
    }
    .nav_style_css{
        font-size: 1rem;

    }
}
@media(min-width:990px){
    .navbar_title-size{
        font-size: 1.2em;
    }
    .nav_style_css{
        font-size: 0.9rem;
    }
}
@media(min-width:1100px){
    .nav_style_css{
        font-size: 1rem;
    }
}
@media(min-width:1200px){
    .nav_style_css{
    font-size: 1.3rem;
    }
}
@media(min-width:1600px){
    .nav_style_css{
    font-size: 2rem;
    }
}


/*-----------------------------------------INDEX -----------------------------------------*/


.background_color_index{
    background-color: colors.$color_dark_grey;
}

.separador_main{
    background-color: colors.$color_white;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
    border-radius: 1rem;
    padding: 2rem;
}



/*---------------------------------------------SLIDE----------------------------------------------*/
