// paleta 1
$color_black:#090f13;
$color_dark_grey:#171f25;
$color_grey:#8c8e8f;
$color_deep_brick:#752e2b;
$color_red:#c90a02;
$color_cream:#f2eab7;
$color_white: #ffff;
$color_grey_grey:#5c636a;
$color_contrastRedNavbar:#f4d7d7;
$color_contrast_boton_activo:#dc3545;









