@use "./colors";

//768


    
.css_titulo_nuestrosprod{
    padding: 2rem;
    text-align: center;
    background-color: colors.$color_dark_grey;
    color: colors.$color_white;
    margin-bottom: 1rem;
}
.contenedor-productos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
}
.separador-tarjeta{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
background: colors.$color_deep_brick;
border-radius: 15px;
box-shadow: 1px 5px 60px 0px colors.$color_deep_brick;
max-width: 80%;
}

.card .card-border-top {
height: 1rem;
background: colors.$color_deep_brick;
margin: auto;
border-radius: 0px 0px 15px 15px;
}

.card span {
font-weight: 600;
color: white;
text-align: center;
display: block;
padding-top: 10px;
font-size: 16px;
}

.card .job {
font-weight: 400;
color: white;
display: block;
text-align: center;
padding-top: 3px;
font-size: 12px;
}

.card .img {
border-radius: 15px;
margin: auto;
margin-top: 25px;

}

.card button {
padding: 8px 25px;
display: block;
margin: auto;
border-radius: 8px;
border-color:colors.$color_black;
margin-top: 30px;
background: colors.$color_dark_grey;
color: white;
font-weight: 600;
margin-bottom: 1rem;
}

.card button:hover {
background: colors.$color_cream;
color: black;
}

@media (max-width: 768px){
    .contenedor-productos{
        grid-template-columns:  1fr  ;
    }
}