@use "./colors";

.barra-filtro{
    background-color: colors.$color_grey;
    margin-top: -8px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.texto-filtro{
    padding-top: 1rem;
    color: colors.$color_white;
    padding-left: 3rem;
}
.dropdown{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    
}
.dropdown-menu  {
    width: 20rem;
    padding: 2rem;
    background-color: colors.$color_grey;
    
}
.optDrop-filtro{
    border-radius: 1rem;
    background-color: colors.$color_black;
    color: colors.$color_white;
    margin-bottom: 1rem;
    &:hover{
        background-color: colors.$color_deep_brick;
        color:colors.$color_white;
        transition: .7s;
        
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: colors.$color_deep_brick;
    
}

.sticky{
    position: sticky;
    top: 0px;
    z-index: 1;
}
@media (max-width: 580px){
    
    .texto-filtro{
        padding: 0;
        padding-top: 1rem;
        text-align: center;
    }
    .dropdown{
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .a-carrito{
        width: 92%;
    }
    .boton-carrito{
        width: 100%;
    }

}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: colors.$color_black;
}
.dropdown-toggle{
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border-width: 2px;
    border-color: colors.$color_dark_grey;
    margin: 1rem;;
    background-color:colors.$color_white;
    color:colors.$color_black;
    &:hover{
        transition: .7s;
        background-color: colors.$color_black;
        color: colors.$color_white
    }
}
.btn.active{
    background-color: colors.$color_black;
    border-color: colors.$color_contrast_boton_activo;
    border-width: 3px;
}

.boton-carrito{
    margin: 1rem;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    background-color:colors.$color_white;
    color:colors.$color_black;
    
}
.boton-carrito:hover{
        transition: .7s;
        background-color: colors.$color_black;
        color:colors.$color_white
    }
.css_titulo_nuestrosprod{
    padding: 2rem;
    text-align: center;
    background-color: colors.$color_dark_grey;
    color: colors.$color_white;
    // margin-bottom: 1rem;
}
.contenedor-productos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
}
.separador-tarjeta{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
background: colors.$color_deep_brick;
border-radius: 15px;
box-shadow: 1px 5px 60px 0px colors.$color_deep_brick;
max-width: 80%;
}

.card .card-border-top {
height: 1rem;
background: colors.$color_deep_brick;
margin: auto;
border-radius: 0px 0px 15px 15px;
}

.card span {
font-weight: 600;
color: white;
text-align: center;
display: block;
padding-top: 10px;
font-size: 16px;
}

.card .job {
font-weight: 400;
color: white;
display: block;
text-align: center;
padding-top: 3px;
font-size: 12px;
}

.card .img {
border-radius: 15px;
margin: auto;
margin-top: 25px;

}

.card button {
padding: 8px 25px;
display: block;
margin: auto;
border-radius: 8px;
border-color:colors.$color_black;
margin-top: 30px;
background: colors.$color_dark_grey;
color: white;
font-weight: 600;
margin-bottom: 1rem;
}

.card button:hover {
background: colors.$color_cream;
color: black;
}

@media (max-width: 768px){
    .contenedor-productos{
        grid-template-columns:  1fr  ;
    }
}

